In [1]:
# For data manipulation
import pandas as pd

# for scientific computation
import numpy as np

# for data analysis
from sklearn.preprocessing import StandardScaler 
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm

# for diagramming 
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [7]:
# read the data
df = pd.read_csv("iris.data", sep = ',')

In [8]:
df

     sepal length   sepal width   petal length   petal width          class
0             5.1           3.5            1.4           0.2     Iris-setosa
1             4.9           3.0            1.4           0.2     Iris-setosa
2             4.7           3.2            1.3           0.2     Iris-setosa
3             4.6           3.1            1.5           0.2     Iris-setosa
4             5.0           3.6            1.4           0.2     Iris-setosa
..            ...           ...            ...           ...             ...
145           6.7           3.0            5.2           2.3  Iris-virginica
146           6.3           2.5            5.0           1.9  Iris-virginica
147           6.5           3.0            5.2           2.0  Iris-virginica
148           6.2           3.4            5.4           2.3  Iris-virginica
149           5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
df.shape

(150, 5)

In [10]:
list(df)

['sepal length', ' sepal width', ' petal length', ' petal width', ' class ']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sepal length   150 non-null    float64
 1    sepal width   150 non-null    float64
 2    petal length  150 non-null    float64
 3    petal width   150 non-null    float64
 4    class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
df.describe()

       sepal length   sepal width   petal length   petal width
count    150.000000    150.000000     150.000000    150.000000
mean       5.843333      3.054000       3.758667      1.198667
std        0.828066      0.433594       1.764420      0.763161
min        4.300000      2.000000       1.000000      0.100000
25%        5.100000      2.800000       1.600000      0.300000
50%        5.800000      3.000000       4.350000      1.300000
75%        6.400000      3.300000       5.100000      1.800000
max        7.900000      4.400000       6.900000      2.500000

In [19]:
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [20]:
# KNN classification
iris = datasets.load_iris()

In [23]:
# Split
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target)

In [26]:
# Make the KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [27]:
# Check how well it scores
knn.score(X_test, y_test)

0.9473684210526315